#navigation {
  display: block;
  width: 100%;
  background-color: white;
  color: white;
}

.impact .menu-navigation .menu-item a.is-active i,
.impact .menu-navigation .menu-item a.is-active-trail i,
.impact .menu-navigation .menu-item a:hover i {
  border: solid white;
  border-width: 0 3px 3px 0;
}