.impact-youtube,
.impact-video-description {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include large {
    width: 40rem;
  }
}

.paragraph--type--impact-para-video {
  .video-embed-field-provider-youtube {
    iframe {
      @include large {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: auto;
        bottom: auto;
      }
    }
  }
}