<footer class="footer">
  <div class="footer__grid">
    <div class="footer__programs">
      <h2>Programs</h2>
      Impact Entertainment<br />
      ICON percussion<br />
      Impact 2<br />
      Impact Revolution<br />
      St. Mary Marching Arts<br />
      St. Mary Cadet<br />
    </div>
    <div class="footer__hire">
      <h2>Hire Us!</h2>
      Book an Impact Ensemble for your next parade or event!
    </div>
    <div class="footer__contact">
      <h2>Contact Us</h2>
      Corey Pearce - Executive Director<br />
      905-979-5650<br />
      <a href="mailto:corey.pearce@gmail.com">corey.pearce@gmail.com</a><br />
      <a href="http://www.coreypearce.com">www.coreypearce.com</a>
    </div>
  </div>
</footer>