<header id="header">
  <div class="header--container">
    <div class="header--logo">
      <a href="home">
        <img src="{{ url('<front>') }}/{{ directory}}/images/Impact_Logo.png" alt="Impact percussion logo">
      </a>
    </div>
    <div class="header--title">
      <span class="header-title">Impact Percussion</span>
      <span class="header-bullet">&bull;</span>
      <span class="header-slogan">"Impacting our community through marching arts education."</span>
    </div>
  </div>
</header>